In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:6 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:12 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [ ]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Natural_Disasters").getOrCreate()

In [ ]:
#Import Google Drive
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
ls

drive/        spark-3.2.1-bin-hadoop2.7/     spark-3.2.1-bin-hadoop2.7.tgz.1
sample_data/  spark-3.2.1-bin-hadoop2.7.tgz

In [ ]:
#Import data
data = pd.read_csv('/content/drive/My Drive/Data Analytics/Final Project/Resources/1900_2021_DISASTERS.xlsx - emdat data.csv')
data

,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,...,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,Cabo Verde,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
1,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,India,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
2,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Guatemala,...,NaN,NaN,NaN,NaN,25000.0,3.350513,NaN,NaN,NaN,NaN
3,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
4,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16121,2021,449,FL-2021-000110,Natural,Hydrological,Flood,NaN,NaN,NaN,Yemen,...,67980.0,NaN,67980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16122,2021,75,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,South Africa,...,400.0,NaN,400.0,NaN,75000.0,NaN,1;2,2707;77311;77312;77313;77315,77364;77367,"Free State, KwaZulu-Natal, Limpopo, Mpumalanga..."
16123,2021,599,EP-2021-000138,Natural,Biological,Epidemic,Viral disease,NaN,Meningitis,Congo (the Democratic Republic of the),...,NaN,NaN,301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16124,2021,20,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Serbia,...,22.0,NaN,22.0,NaN,NaN,NaN,1,25374;25378;25379;25380;25383;25386;25397,NaN,"Jablanicki, Kosovski, Kosovsko-mitrovatski, Ko..."
16125,2021,481,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,South Sudan,...,500000.0,NaN,500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.columns

Index(['Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Insured Damages ('000 US$)',
       'Total Damages ('000 US$)', 'CPI', 'Adm Level', 'Admin1 Code',
       'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16126 entries, 0 to 16125
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        16126 non-null  int64
 1   Seq                         16126 non-null  int64
 2   Glide                       1581 non-null   object
 3   Disaster Group              16126 non-null  object
 4   Disaster Subgroup           16126 non-null  object
 5   Disaster Type               16126 non-null  object
 6   Disaster Subtype            13016 non-null  object
 7   Disaster Subsubtype         1077 non-null   object
 8   Event Name                  3861 non-null   object
 9   Country                     16126 non-null  object
 10  ISO                         16126 non-null  object
 11  Region                      16126 non-null  object
 12  Continent                   16126 non-null  object
 13  Location                    14334 non-null  object
 14  Origin                      3794 non-null   object
 15  Associated Dis              3348 non-null   object
 16  Associated Dis2             707 non-null    object
 17  OFDA Response               1694 non-null   object
 18  Appeal                      2569 non-null   object
 19  Declaration                 3256 non-null   object
 20  Aid Contribution            677 non-null    float64
 21  Dis Mag Value               4946 non-null   float64
 22  Dis Mag Scale               14936 non-null  object
 23  Latitude                    2729 non-null   object
 24  Longitude                   2732 non-null   object
 25  Local Time                  1103 non-null   object
 26  River Basin                 1287 non-null   object
 27  Start Year                  16126 non-null  int64
 28  Start Month                 15739 non-null  float64
 29  Start Day                   12498 non-null  float64
 30  End Year                    16126 non-null  int64
 31  End Month                   15418 non-null  float64
 32  End Day                     12570 non-null  float64
 33  Total Deaths                11413 non-null  float64
 34  No Injured                  3895 non-null   float64
 35  No Affected                 9220 non-null   float64
 36  No Homeless                 2430 non-null   float64
 37  Total Affected              11617 non-null  float64
 38  Insured Damages ('000 US$)  1096 non-null   float64
 39  Total Damages ('000 US$)    5245 non-null   float64
 40  CPI                         15811 non-null  float64
 41  Adm Level                   7859 non-null   object
 42  Admin1 Code                 4581 non-null   object
 43  Admin2 Code                 3969 non-null   object
 44  Geo Locations               7859 non-null   object
dtypes: float64(14), int64(4), object(27)
memory usage: 5.5+ MB

In [ ]:
new_df = data.filter(items=['Year', 'Disaster Type','Disaster Subgroup','Disaster Subtype','Country','Continent', 'Total Deaths', 'Total Affected'])

In [ ]:
new_df

,Year,Disaster Type,Disaster Subgroup,Disaster Subtype,Country,Continent,Total Deaths,Total Affected
0,1900,Drought,Climatological,Drought,Cabo Verde,Africa,11000.0,NaN
1,1900,Drought,Climatological,Drought,India,Asia,1250000.0,NaN
2,1902,Earthquake,Geophysical,Ground movement,Guatemala,Americas,2000.0,NaN
3,1902,Volcanic activity,Geophysical,Ash fall,Guatemala,Americas,1000.0,NaN
4,1902,Volcanic activity,Geophysical,Ash fall,Guatemala,Americas,6000.0,NaN
...,...,...,...,...,...,...,...,...
16121,2021,Flood,Hydrological,NaN,Yemen,Asia,11.0,67980.0
16122,2021,Flood,Hydrological,NaN,South Africa,Africa,31.0,400.0
16123,2021,Epidemic,Biological,Viral disease,Congo (the Democratic Republic of the),Africa,131.0,301.0
16124,2021,Flood,Hydrological,NaN,Serbia,Europe,NaN,22.0
16125,2021,Flood,Hydrological,NaN,South Sudan,Africa,7.0,500000.0

In [ ]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16126 entries, 0 to 16125
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               16126 non-null  int64
 1   Disaster Type      16126 non-null  object
 2   Disaster Subgroup  16126 non-null  object
 3   Disaster Subtype   13016 non-null  object
 4   Country            16126 non-null  object
 5   Continent          16126 non-null  object
 6   Total Deaths       11413 non-null  float64
 7   Total Affected     11617 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 1008.0+ KB

In [ ]:
data_cleaned=new_df.dropna(subset=['Total Affected'])

In [ ]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11617 entries, 5 to 16125
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               11617 non-null  int64
 1   Disaster Type      11617 non-null  object
 2   Disaster Subgroup  11617 non-null  object
 3   Disaster Subtype   9465 non-null   object
 4   Country            11617 non-null  object
 5   Continent          11617 non-null  object
 6   Total Deaths       8395 non-null   float64
 7   Total Affected     11617 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 816.8+ KB

In [ ]:
data_cleaned

,Year,Disaster Type,Disaster Subgroup,Disaster Subtype,Country,Continent,Total Deaths,Total Affected
5,1903,Mass movement (dry),Geophysical,Rockfall,Canada,Americas,76.0,23.0
8,1905,Mass movement (dry),Geophysical,Rockfall,Canada,Americas,18.0,18.0
33,1911,Wildfire,Climatological,Forest fire,Canada,Americas,73.0,200.0
35,1912,Storm,Meteorological,Convective storm,Canada,Americas,28.0,2700.0
37,1914,Earthquake,Geophysical,Ground movement,Indonesia,Asia,20.0,20.0
...,...,...,...,...,...,...,...,...
16121,2021,Flood,Hydrological,NaN,Yemen,Asia,11.0,67980.0
16122,2021,Flood,Hydrological,NaN,South Africa,Africa,31.0,400.0
16123,2021,Epidemic,Biological,Viral disease,Congo (the Democratic Republic of the),Africa,131.0,301.0
16124,2021,Flood,Hydrological,NaN,Serbia,Europe,NaN,22.0
16125,2021,Flood,Hydrological,NaN,South Sudan,Africa,7.0,500000.0

In [ ]:
data_cleaned.to_csv('/content/drive/My Drive/Data Analytics/Final Project/Resources/cleaned_disaster_data_1900-2021.csv')