# Machine Learning Attempts

-------------------------------------

### Neural Networking

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf

import pandas as pd
from pathlib import Path

In [2]:
# Import our input dataset
data = Path('Resources_k/df7_k2.csv')
df = pd.read_csv(data)
df.head()

,fire_id,state,discovery_month,Temp_pre_7,Wind_pre_7,Hum_pre_7,fire_size_bin_no,medium_plus
0,3,NV,Jun,18.142564,3.671282,35.353846,1,0
1,24,MS,Apr,15.604790,1.775904,59.614458,3,0
2,31,ND,Apr,-4.273834,6.658621,71.173116,1,0
3,35,GA,Oct,18.188679,2.211429,60.328571,3,0
4,36,NM,Jul,34.893333,3.695833,18.208333,5,1

In [3]:
df=df.drop(columns=["fire_id", 'fire_size_bin_no'])

# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=['discovery_month', 'state']

# Check the number of unique values in each column
#df[cat].nunique()
df

      state discovery_month  Temp_pre_7  Wind_pre_7  Hum_pre_7  medium_plus
0        NV             Jun   18.142564    3.671282  35.353846            0
1        MS             Apr   15.604790    1.775904  59.614458            0
2        ND             Apr   -4.273834    6.658621  71.173116            0
3        GA             Oct   18.188679    2.211429  60.328571            0
4        NM             Jul   34.893333    3.695833  18.208333            1
...     ...             ...         ...         ...        ...          ...
13133    TX             Aug   28.719917    3.224274  55.426471            1
13134    TX             Oct   24.221869    1.563817  63.196819            1
13135    OR             Sep   10.734328    1.835821  67.266304            1
13136    MT             Mar    7.678571    3.803571  42.638384            1
13137    ID             Oct   15.732906    1.405983  56.257500            1

[13138 rows x 6 columns]

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
df= df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

c:\Users\KATLIN\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Temp_pre_7,Wind_pre_7,Hum_pre_7,medium_plus,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,18.142564,3.671282,35.353846,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.604790,1.775904,59.614458,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.273834,6.658621,71.173116,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18.188679,2.211429,60.328571,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34.893333,3.695833,18.208333,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Remove loan status target from features data
target=df.medium_plus
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=["medium_plus"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 180
hidden_nodes_layer2 = 120
hidden_nodes_layer3 = 60


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 180)               10980

 dense_1 (Dense)             (None, 120)               21720

 dense_2 (Dense)             (None, 60)                7260

 dense_3 (Dense)             (None, 1)                 61

=================================================================
Total params: 40,021
Trainable params: 40,021
Non-trainable params: 0
_________________________________________________________________

In [8]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer="adam", metrics=["accuracy"])

In [9]:
## Import checkpoint dependencies
# import os
# from tensorflow.keras.callbacks import ModelCheckpoint

# # Define the checkpoint path and filenames
# os.makedirs("checkpoints/",exist_ok=True)
# checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# # Create a callback that saves the model's weights every 5 epoch
# cp_callback = ModelCheckpoint(
#     filepath=checkpoint_path,
#     verbose=5,
#     save_weights_only=True,
#     save_freq='epoch')

# Train the model
# fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

# # Restore the model weights
# nn.load_weights("checkpoints/weights.100.hdf5")

Epoch 1/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4990 - accuracy: 0.7570
Epoch 2/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4369 - accuracy: 0.7974
Epoch 3/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4342 - accuracy: 0.7991
Epoch 4/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4328 - accuracy: 0.8002
Epoch 5/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4322 - accuracy: 0.8010
Epoch 6/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4301 - accuracy: 0.8004
Epoch 7/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4275 - accuracy: 0.8036
Epoch 8/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4276 - accuracy: 0.8031
Epoch 9/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4266 - accuracy: 0.8016
Epoch 10/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4241 - accuracy: 0.8055
Epoch 11/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4240 - accuracy: 0.8039
Epoch 12/50
308/308 [==============================] - 1s 3ms/step - loss: 0.4222 - accuracy: 0.8063
Epoch 13/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4217 - accuracy: 0.8072
Epoch 14/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4216 - accuracy: 0.8070
Epoch 15/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4207 - accuracy: 0.8076
Epoch 16/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4192 - accuracy: 0.8089
Epoch 17/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.8079
Epoch 18/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4181 - accuracy: 0.8084
Epoch 19/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4171 - accuracy: 0.8097
Epoch 20/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4168 - accuracy: 0.8079
Epoch 21/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4157 - accuracy: 0.8109
Epoch 22/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4153 - accuracy: 0.8091
Epoch 23/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4155 - accuracy: 0.8116
Epoch 24/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4139 - accuracy: 0.8122
Epoch 25/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4134 - accuracy: 0.8144
Epoch 26/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4138 - accuracy: 0.8111
Epoch 27/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4117 - accuracy: 0.8119
Epoch 28/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4117 - accuracy: 0.8135
Epoch 29/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4111 - accuracy: 0.8134
Epoch 30/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4103 - accuracy: 0.8144
Epoch 31/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4090 - accuracy: 0.8135
Epoch 32/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4095 - accuracy: 0.8133
Epoch 33/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4088 - accuracy: 0.8140
Epoch 34/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4077 - accuracy: 0.8145
Epoch 35/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8124
Epoch 36/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4067 - accuracy: 0.8150
Epoch 37/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4056 - accuracy: 0.8170
Epoch 38/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4053 - accuracy: 0.8163
Epoch 39/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4041 - accuracy: 0.8163
Epoch 40/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4040 - accuracy: 0.8150
Epoch 41/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4030 - accuracy: 0.8170
Epoch 42/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4025 - accuracy: 0.8173
Epoch 43/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4025 - accuracy: 0.8167
Epoch 44/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4018 - accuracy: 0.8185
Epoch 45/50
308/308 [==============================] - 1s 2ms/step - loss: 0.4012 - accuracy: 0.8160
Epoch 46/50
308/308 [==============================] - 0s 2ms/step - loss: 0.3998 - accuracy: 0.8173
Epoch 47/50
308/308 [==============================] - 1s 2ms/step - loss: 0.3993 - accuracy: 0.8187
Epoch 48/50
308/308 [==============================] - 1s 2ms/step - loss: 0.3994 - accuracy: 0.8158
Epoch 49/50
308/308 [==============================] - 1s 2ms/step - loss: 0.3989 - accuracy: 0.8172
Epoch 50/50
308/308 [==============================] - 1s 2ms/step - loss: 0.3972 - accuracy: 0.8188

In [10]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

103/103 - 0s - loss: 0.4411 - accuracy: 0.7893 - 280ms/epoch - 3ms/step
Loss: 0.4410646855831146, Accuracy: 0.7893455028533936

---------------------

------------------------------

### Random Forest Classifier

In [11]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import classification_report

from pathlib import Path

# Import our input dataset
data = Path('Resources_k/df7_k2.csv')
df = pd.read_csv(data)
df.head()

,fire_id,state,discovery_month,Temp_pre_7,Wind_pre_7,Hum_pre_7,fire_size_bin_no,medium_plus
0,3,NV,Jun,18.142564,3.671282,35.353846,1,0
1,24,MS,Apr,15.604790,1.775904,59.614458,3,0
2,31,ND,Apr,-4.273834,6.658621,71.173116,1,0
3,35,GA,Oct,18.188679,2.211429,60.328571,3,0
4,36,NM,Jul,34.893333,3.695833,18.208333,5,1

In [12]:
df=df.drop(columns=["fire_id", 'fire_size_bin_no'])

# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=['discovery_month', 'state']

# Check the number of unique values in each column
#df[cat].nunique()

In [13]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

c:\Users\KATLIN\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Temp_pre_7,Wind_pre_7,Hum_pre_7,medium_plus,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,18.142564,3.671282,35.353846,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.604790,1.775904,59.614458,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.273834,6.658621,71.173116,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18.188679,2.211429,60.328571,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34.893333,3.695833,18.208333,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Remove loan status target from features data
target=df.medium_plus
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=["medium_plus"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
model = RandomForestClassifier(n_estimators=100, random_state=78) 

#Fitting the model
model = model.fit(X_train, y_train)

# Making predictions using the testing data.
y_pred = model.predict(X_test)

In [17]:
# Calculating the accuracy score.
acc_score = balanced_accuracy_score(y_test, y_pred)
acc_score

0.7237530346501876

In [18]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual less than medium", "Actual medium plus"], columns=["Predicted less than medium", "Predicted medium +"])

In [19]:
# Displaying Easy Ensemble Classifier
print("Random Forest Clasifier")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

Random Forest Clasifier
Confusion Matrix

                         Predicted less than medium  Predicted medium +
Actual less than medium                        2045                 255
Actual medium plus                              435                 550

Accuracy Score : 0.7237530346501876
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.82      0.89      0.56      0.86      0.70      0.51      2300
          1       0.68      0.56      0.89      0.61      0.70      0.48       985

avg / total       0.78      0.79      0.66      0.78      0.70      0.50      3285

In [20]:
#Calulate Feature Importances
importances = model.feature_importances_

In [21]:
# We can sort the features by their importance.
sorted(zip(model.feature_importances_, X.columns), reverse=True)

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

----------------------------

--------------------------

### Balanced Random Forest Classifier

In [22]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder
from pathlib import Path

from imblearn.ensemble import BalancedRandomForestClassifier


# Import our input dataset
data = Path('Resources_k/df7_k2.csv')
df = pd.read_csv(data)
df.head()

,fire_id,state,discovery_month,Temp_pre_7,Wind_pre_7,Hum_pre_7,fire_size_bin_no,medium_plus
0,3,NV,Jun,18.142564,3.671282,35.353846,1,0
1,24,MS,Apr,15.604790,1.775904,59.614458,3,0
2,31,ND,Apr,-4.273834,6.658621,71.173116,1,0
3,35,GA,Oct,18.188679,2.211429,60.328571,3,0
4,36,NM,Jul,34.893333,3.695833,18.208333,5,1

In [23]:
df=df.drop(columns=["fire_id", 'fire_size_bin_no'])

# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=['discovery_month', 'state']

# Check the number of unique values in each column
#df[cat].nunique()

In [24]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

c:\Users\KATLIN\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Temp_pre_7,Wind_pre_7,Hum_pre_7,medium_plus,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,18.142564,3.671282,35.353846,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.604790,1.775904,59.614458,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.273834,6.658621,71.173116,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18.188679,2.211429,60.328571,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34.893333,3.695833,18.208333,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
# Remove loan status target from features data
target=df.medium_plus
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=["medium_plus"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
model = BalancedRandomForestClassifier(n_estimators=100, random_state=78) 

#Fitting the model
model = model.fit(X_train, y_train)

# Making predictions using the testing data.
y_pred = model.predict(X_test)

In [28]:
# Calculating the accuracy score.
acc_score = balanced_accuracy_score(y_test, y_pred)
acc_score

0.7541105716177444

In [29]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual less than medium", "Actual medium plus"], columns=["Predicted less than medium", "Predicted medium +"])

In [30]:
# Displaying Easy Ensemble Classifier
print("Random Forest Clasifier")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

Random Forest Clasifier
Confusion Matrix

                         Predicted less than medium  Predicted medium +
Actual less than medium                        1755                 545
Actual medium plus                              251                 734

Accuracy Score : 0.7541105716177444
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.87      0.76      0.75      0.82      0.75      0.57      2300
          1       0.57      0.75      0.76      0.65      0.75      0.57       985

avg / total       0.78      0.76      0.75      0.77      0.75      0.57      3285

-------------------------

----------------------------------

### Easy Ensemble Classifier

In [31]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder
from pathlib import Path

from imblearn.ensemble import EasyEnsembleClassifier

# Import our input dataset
data = Path('Resources_k/df7_k2.csv')
df = pd.read_csv(data)
df.head()

,fire_id,state,discovery_month,Temp_pre_7,Wind_pre_7,Hum_pre_7,fire_size_bin_no,medium_plus
0,3,NV,Jun,18.142564,3.671282,35.353846,1,0
1,24,MS,Apr,15.604790,1.775904,59.614458,3,0
2,31,ND,Apr,-4.273834,6.658621,71.173116,1,0
3,35,GA,Oct,18.188679,2.211429,60.328571,3,0
4,36,NM,Jul,34.893333,3.695833,18.208333,5,1

In [32]:
df=df.drop(columns=["fire_id", 'fire_size_bin_no'])

# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=['discovery_month', 'state']

# Check the number of unique values in each column
#df[cat].nunique()

In [33]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

c:\Users\KATLIN\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Temp_pre_7,Wind_pre_7,Hum_pre_7,medium_plus,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,18.142564,3.671282,35.353846,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.604790,1.775904,59.614458,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.273834,6.658621,71.173116,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18.188679,2.211429,60.328571,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34.893333,3.695833,18.208333,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
# Remove loan status target from features data
target=df.medium_plus
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=["medium_plus"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [36]:
# Train the EasyEnsembleClassifier

model = EasyEnsembleClassifier(n_estimators=100, random_state=78) 

#Fitting the model
model = model.fit(X_train, y_train)

# Making predictions using the testing data.
y_pred = model.predict(X_test)

In [37]:
# Calculated the balanced accuracy score
acc_score = balanced_accuracy_score(y_test, y_pred)
acc_score

0.7537486206135511

In [38]:

# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual less than medium", "Actual medium plus"], columns=["Predicted less than medium", "Predicted medium +"])

In [39]:
# Displaying Easy Ensemble Classifier
print("Balanced Random Forest Clasifier")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

Balanced Random Forest Clasifier
Confusion Matrix

                         Predicted less than medium  Predicted medium +
Actual less than medium                        1751                 549
Actual medium plus                              250                 735

Accuracy Score : 0.7537486206135511
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.88      0.76      0.75      0.81      0.75      0.57      2300
          1       0.57      0.75      0.76      0.65      0.75      0.57       985

avg / total       0.78      0.76      0.75      0.76      0.75      0.57      3285

--------------------------------------

---------------------------

### Naive Random Oversampling

In [40]:
# Import our input dataset
data = Path('Resources_k/df7_k2.csv')
df = pd.read_csv(data)
df.head()

,fire_id,state,discovery_month,Temp_pre_7,Wind_pre_7,Hum_pre_7,fire_size_bin_no,medium_plus
0,3,NV,Jun,18.142564,3.671282,35.353846,1,0
1,24,MS,Apr,15.604790,1.775904,59.614458,3,0
2,31,ND,Apr,-4.273834,6.658621,71.173116,1,0
3,35,GA,Oct,18.188679,2.211429,60.328571,3,0
4,36,NM,Jul,34.893333,3.695833,18.208333,5,1

In [41]:
df=df.drop(columns=["fire_id", 'fire_size_bin_no'])

# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=['discovery_month', 'state']

# Check the number of unique values in each column
#df[cat].nunique()

In [42]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

c:\Users\KATLIN\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Temp_pre_7,Wind_pre_7,Hum_pre_7,medium_plus,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,18.142564,3.671282,35.353846,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.604790,1.775904,59.614458,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.273834,6.658621,71.173116,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18.188679,2.211429,60.328571,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34.893333,3.695833,18.208333,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
# Remove loan status target from features data
target=df.medium_plus
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=["medium_plus"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [45]:
import warnings
warnings.filterwarnings('ignore')

from collections import Counter

# implement random oversampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({0: 6964, 1: 6964})

In [46]:
# Logistic regression using random oversampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [47]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
acc_score= balanced_accuracy_score(y_test, y_pred)

In [48]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual less than medium", "Actual medium plus"], columns=["Predicted less than medium", "Predicted medium +"])

In [49]:
# Displaying Random Oversampling results
print("Naive Random Oversampling")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

Naive Random Oversampling
Confusion Matrix

                         Predicted less than medium  Predicted medium +
Actual less than medium                        1703                 597
Actual medium plus                              222                 763

Accuracy Score : 0.7575270359743986
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.88      0.74      0.77      0.81      0.76      0.57      2300
          1       0.56      0.77      0.74      0.65      0.76      0.58       985

avg / total       0.79      0.75      0.76      0.76      0.76      0.57      3285

### SMOTE Oversampling

In [50]:
# Import our input dataset
data = Path('Resources_k/df7_k2.csv')
df = pd.read_csv(data)
df.head()

,fire_id,state,discovery_month,Temp_pre_7,Wind_pre_7,Hum_pre_7,fire_size_bin_no,medium_plus
0,3,NV,Jun,18.142564,3.671282,35.353846,1,0
1,24,MS,Apr,15.604790,1.775904,59.614458,3,0
2,31,ND,Apr,-4.273834,6.658621,71.173116,1,0
3,35,GA,Oct,18.188679,2.211429,60.328571,3,0
4,36,NM,Jul,34.893333,3.695833,18.208333,5,1

In [51]:
df=df.drop(columns=["fire_id", 'fire_size_bin_no'])

# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=['discovery_month', 'state']

# Check the number of unique values in each column
#df[cat].nunique()

In [52]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

,Temp_pre_7,Wind_pre_7,Hum_pre_7,medium_plus,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,18.142564,3.671282,35.353846,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.604790,1.775904,59.614458,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.273834,6.658621,71.173116,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18.188679,2.211429,60.328571,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34.893333,3.695833,18.208333,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
# Remove loan status target from features data
target=df.medium_plus
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=["medium_plus"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [55]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(
    X_train, y_train
)
Counter(y_resampled)

Counter({0: 6964, 1: 6964})

In [56]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [57]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
acc_score=balanced_accuracy_score(y_test, y_pred)

In [58]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual less than medium", "Actual medium plus"], columns=["Predicted less than medium", "Predicted medium +"])

In [59]:
# Displaying SMOTE results
print("SMOTE Oversampling")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

SMOTE Oversampling
Confusion Matrix

                         Predicted less than medium  Predicted medium +
Actual less than medium                        1738                 562
Actual medium plus                              236                 749

Accuracy Score : 0.7580291326418009
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.88      0.76      0.76      0.81      0.76      0.57      2300
          1       0.57      0.76      0.76      0.65      0.76      0.57       985

avg / total       0.79      0.76      0.76      0.77      0.76      0.57      3285

## Undersampling

In [60]:
# Import our input dataset
data = Path('Resources_k/df7_k2.csv')
df = pd.read_csv(data)
df.head()

,fire_id,state,discovery_month,Temp_pre_7,Wind_pre_7,Hum_pre_7,fire_size_bin_no,medium_plus
0,3,NV,Jun,18.142564,3.671282,35.353846,1,0
1,24,MS,Apr,15.604790,1.775904,59.614458,3,0
2,31,ND,Apr,-4.273834,6.658621,71.173116,1,0
3,35,GA,Oct,18.188679,2.211429,60.328571,3,0
4,36,NM,Jul,34.893333,3.695833,18.208333,5,1

In [61]:
df=df.drop(columns=["fire_id", 'fire_size_bin_no'])

# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=['discovery_month', 'state']

# Check the number of unique values in each column
#df[cat].nunique()

In [62]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

,Temp_pre_7,Wind_pre_7,Hum_pre_7,medium_plus,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,18.142564,3.671282,35.353846,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.604790,1.775904,59.614458,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.273834,6.658621,71.173116,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18.188679,2.211429,60.328571,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34.893333,3.695833,18.208333,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
# Remove loan status target from features data
target=df.medium_plus
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=["medium_plus"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [65]:
# Resample the data using the ClusterCentroids resampler
from imblearn.under_sampling import ClusterCentroids
cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 2889, 1: 2889})

In [66]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [67]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
acc_score= balanced_accuracy_score(y_test, y_pred)

In [68]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual less than medium", "Actual medium plus"], columns=["Predicted less than medium", "Predicted medium +"])

In [69]:
# Displaying Undersampling results
print("Cluster Centroid Undersampling")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

Cluster Centroid Undersampling
Confusion Matrix

                         Predicted less than medium  Predicted medium +
Actual less than medium                        1739                 561
Actual medium plus                              248                 737

Accuracy Score : 0.7521551533877732
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.88      0.76      0.75      0.81      0.75      0.57      2300
          1       0.57      0.75      0.76      0.65      0.75      0.57       985

avg / total       0.78      0.75      0.75      0.76      0.75      0.57      3285

## Combination (Over and Under) Sampling

In [70]:
# Import our input dataset
data = Path('Resources_k/df7_k2.csv')
df = pd.read_csv(data)
df.head()

,fire_id,state,discovery_month,Temp_pre_7,Wind_pre_7,Hum_pre_7,fire_size_bin_no,medium_plus
0,3,NV,Jun,18.142564,3.671282,35.353846,1,0
1,24,MS,Apr,15.604790,1.775904,59.614458,3,0
2,31,ND,Apr,-4.273834,6.658621,71.173116,1,0
3,35,GA,Oct,18.188679,2.211429,60.328571,3,0
4,36,NM,Jul,34.893333,3.695833,18.208333,5,1

In [71]:
df=df.drop(columns=["fire_id", 'fire_size_bin_no'])

# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=['discovery_month', 'state']

# Check the number of unique values in each column
#df[cat].nunique()

In [72]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [73]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

,Temp_pre_7,Wind_pre_7,Hum_pre_7,medium_plus,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,18.142564,3.671282,35.353846,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.604790,1.775904,59.614458,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.273834,6.658621,71.173116,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18.188679,2.211429,60.328571,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34.893333,3.695833,18.208333,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
# Remove loan status target from features data
target=df.medium_plus
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=["medium_plus"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [75]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=1)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

Counter({0: 4807, 1: 7056})

In [76]:
# Train the Logistic Regression model using the resampled data
from imblearn.ensemble import EasyEnsembleClassifier
model = EasyEnsembleClassifier(n_estimators=100, random_state=78) 
model.fit(X_resampled, y_resampled)

EasyEnsembleClassifier(n_estimators=100, random_state=78)

In [77]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
acc_score = balanced_accuracy_score(y_test, y_pred)

In [78]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual less than medium", "Actual medium plus"], columns=["Predicted less than medium", "Predicted medium +"])

In [79]:
# Displaying SMOTEEN results
print("SMOTEENN Sampling")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

SMOTEENN Sampling
Confusion Matrix

                         Predicted less than medium  Predicted medium +
Actual less than medium                        1714                 586
Actual medium plus                              230                 755

Accuracy Score : 0.7558574266166409
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.88      0.75      0.77      0.81      0.76      0.57      2300
          1       0.56      0.77      0.75      0.65      0.76      0.57       985

avg / total       0.79      0.75      0.76      0.76      0.76      0.57      3285

---------------------------------

--------------------------------

### Gradient Boosting Classifier

In [80]:
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [81]:
# Import our input dataset
data = Path('Resources_k/df7_k2.csv')
df = pd.read_csv(data)
df.head()

,fire_id,state,discovery_month,Temp_pre_7,Wind_pre_7,Hum_pre_7,fire_size_bin_no,medium_plus
0,3,NV,Jun,18.142564,3.671282,35.353846,1,0
1,24,MS,Apr,15.604790,1.775904,59.614458,3,0
2,31,ND,Apr,-4.273834,6.658621,71.173116,1,0
3,35,GA,Oct,18.188679,2.211429,60.328571,3,0
4,36,NM,Jul,34.893333,3.695833,18.208333,5,1

In [82]:
df=df.drop(columns=["fire_id", 'fire_size_bin_no'])

# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=['discovery_month', 'state']

# Check the number of unique values in each column
#df[cat].nunique()

In [83]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [84]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

,Temp_pre_7,Wind_pre_7,Hum_pre_7,medium_plus,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,18.142564,3.671282,35.353846,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.604790,1.775904,59.614458,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.273834,6.658621,71.173116,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18.188679,2.211429,60.328571,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34.893333,3.695833,18.208333,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
# Remove loan status target from features data
target=df.medium_plus
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=["medium_plus"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

  ### Choose best learning rate

In [86]:
from sklearn.ensemble import GradientBoostingClassifier

# Create a classifier object
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=10,
                                            learning_rate=learning_rate,
                                            max_features='auto',
                                            max_depth=3,
                                            random_state=1)

    # Fit the model
    classifier.fit(X_train_scaled, y_train)
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        classifier.score(
            X_train_scaled,
            y_train)))
    print("Accuracy score (validation): {0:.3f}".format(
        classifier.score(
            X_test_scaled,
            y_test)))
    print()

Learning rate:  0.05
Accuracy score (training): 0.735
Accuracy score (validation): 0.724

Learning rate:  0.1
Accuracy score (training): 0.768
Accuracy score (validation): 0.755

Learning rate:  0.25
Accuracy score (training): 0.799
Accuracy score (validation): 0.778

Learning rate:  0.5
Accuracy score (training): 0.809
Accuracy score (validation): 0.781

Learning rate:  0.75
Accuracy score (training): 0.813
Accuracy score (validation): 0.775

Learning rate:  1
Accuracy score (training): 0.810
Accuracy score (validation): 0.775

  ### Create Gradient Boosting Classifier

In [87]:
# Choose a learning rate and create classifier
classifier = GradientBoostingClassifier(n_estimators=100,
                                        learning_rate=0.1,
                                        max_features='auto',
                                        max_depth=3,
                                        random_state=1)

# Fit the model
classifier.fit(X_train_scaled, y_train)

# Make Prediction
predictions = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).head(20)

       Prediction  Actual
10678           1       1
11312           1       1
3461            0       0
5068            0       0
1688            0       0
1576            0       0
12862           0       1
10709           1       1
11784           1       1
4772            0       0
1256            0       0
330             0       0
5477            0       0
10956           1       1
13074           1       1
1127            0       0
3044            0       0
9857            0       0
1674            0       0
876             0       0

  ### Evaluate the model

In [88]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import classification_report
# Calculating the accuracy score
acc_score = balanced_accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.7154171264621496

In [89]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual less than medium", "Actual medium plus"], columns=["Predicted less than medium", "Predicted medium +"])

In [90]:
# Displaying SMOTEEN results
print("Gradient Boosting Sampling")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

Gradient Boosting Sampling
Confusion Matrix

                         Predicted less than medium  Predicted medium +
Actual less than medium                        1714                 586
Actual medium plus                              230                 755

Accuracy Score : 0.7154171264621496
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.88      0.75      0.77      0.81      0.76      0.57      2300
          1       0.56      0.77      0.75      0.65      0.76      0.57       985

avg / total       0.79      0.75      0.76      0.76      0.76      0.57      3285