# Machine Learning Attempts

-------------------------------------

### Neural Networking

In [142]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf

import pandas as pd
from pathlib import Path

In [143]:
# Import our input dataset
data = Path('Resources_k/fire_size_bins_new.csv')
df = pd.read_csv(data)
df.head()

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5

In [144]:
df.drop(columns=["fire_id", "fire_size", "latitude", "longitude", "fire_size_bin"],inplace=True)

In [145]:
df

,fire_cause,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin_no
0,Debris Burning,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,1
1,Arson,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,3
2,Debris Burning,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,1
3,Debris Burning,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,3
4,Lightning,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,Utilities,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,5
13134,Utilities,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,5
13135,Accidental,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,6
13136,Debris Burning,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,5
13137,Debris Burning,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,5

In [146]:
# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=['fire_cause', 'discovery_month', 'state']

# Check the number of unique values in each column
df[cat].nunique()

fire_cause          5
discovery_month    12
state              45
dtype: int64

In [147]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,fire_cause_Accidental,fire_cause_Arson,fire_cause_Debris Burning,fire_cause_Lightning,fire_cause_Utilities,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [148]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [149]:
# Remove loan status target from features data
target=df.fire_size_bin_no
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=["fire_size_bin_no", ]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [150]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 150
hidden_nodes_layer2 = 75
# hidden_nodes_layer3 = 11


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 150)               11100

 dense_4 (Dense)             (None, 75)                11325

 dense_5 (Dense)             (None, 1)                 76

=================================================================
Total params: 22,501
Trainable params: 22,501
Non-trainable params: 0
_________________________________________________________________

In [151]:
# Compile the model
nn.compile(loss='categorical_crossentropy', optimizer="adam", metrics=["accuracy"])

In [152]:
## Import checkpoint dependencies
# import os
# from tensorflow.keras.callbacks import ModelCheckpoint

# # Define the checkpoint path and filenames
# os.makedirs("checkpoints/",exist_ok=True)
# checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# # Create a callback that saves the model's weights every 5 epoch
# cp_callback = ModelCheckpoint(
#     filepath=checkpoint_path,
#     verbose=5,
#     save_weights_only=True,
#     save_freq='epoch')

# Train the model
# fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

# # Restore the model weights
# nn.load_weights("checkpoints/weights.100.hdf5")

Epoch 1/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4474
Epoch 2/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 3/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 4/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 5/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 6/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 7/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 8/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 9/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 10/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 11/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 12/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 13/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 14/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 15/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 16/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 17/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 18/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 19/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 20/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 21/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 22/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 23/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 24/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 25/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 26/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 27/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 28/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 29/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 30/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 31/50
308/308 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 32/50
308/308 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 33/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 34/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 35/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 36/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 37/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 38/50
308/308 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 39/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 40/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 41/50
308/308 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 42/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 43/50
308/308 [==============================] - 1s 3ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 44/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 45/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 46/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 47/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 48/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 49/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495
Epoch 50/50
308/308 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4495

In [153]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

103/103 - 0s - loss: 0.0000e+00 - accuracy: 0.4645 - 225ms/epoch - 2ms/step
Loss: 0.0, Accuracy: 0.46453577280044556

---------------------

------------------------------

### Random Forest Classifier

In [162]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import classification_report

from pathlib import Path


# Import our input dataset
data = Path('Resources_k/fire_size_bins_new.csv')
df = pd.read_csv(data)
df.head()

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5

In [163]:
df.drop(columns=["fire_id", "fire_size", "latitude", "longitude", "fire_size_bin"],inplace=True)
df

,fire_cause,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin_no
0,Debris Burning,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,1
1,Arson,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,3
2,Debris Burning,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,1
3,Debris Burning,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,3
4,Lightning,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,Utilities,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,5
13134,Utilities,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,5
13135,Accidental,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,6
13136,Debris Burning,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,5
13137,Debris Burning,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,5

In [164]:
# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=["discovery_month", "fire_cause", "state"]

# Check the number of unique values in each column
df[cat].nunique()

discovery_month    12
fire_cause          5
state              45
dtype: int64

In [165]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [166]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

c:\Users\KATLIN\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [167]:
# Remove loan status target from features data
target=df.fire_size_bin_no
y=target
#X = df.loc[:, df.columns !=target]
X=df.copy()
X=df.drop(columns=['fire_size_bin_no'])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [168]:
X

,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,state_WV,state_WY
0,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13134,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13135,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13136,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13137,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [169]:
model = RandomForestClassifier(n_estimators=100, random_state=78) 

#Fitting the model
model = model.fit(X_train, y_train)

# Making predictions using the testing data.
y_pred = model.predict(X_test)

In [170]:
# Calculating the accuracy score.
acc_score = balanced_accuracy_score(y_test, y_pred)
acc_score

0.35977607312798626

In [171]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual Teacup", "Actual Toy", "Actual Mini", "Actual Medium", "Actual Large", "Actual XL"], columns=["Predicted Teacup", "Predicted Toy", "Predicted Mini", "Predicted Medium", "Predicted Large", "Predicted XL"]
)
cm_df

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,1378,17,64,10,50,7
Actual Toy,263,12,19,9,23,3
Actual Mini,340,9,46,10,35,5
Actual Medium,182,4,25,14,38,7
Actual Large,58,2,6,7,236,100
Actual XL,17,1,2,0,137,149

In [172]:
# Displaying Easy Ensemble Classifier
print("Random Forest Clasifier")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

Random Forest Clasifier
Confusion Matrix

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,1378,17,64,10,50,7
Actual Toy,263,12,19,9,23,3
Actual Mini,340,9,46,10,35,5
Actual Medium,182,4,25,14,38,7
Actual Large,58,2,6,7,236,100
Actual XL,17,1,2,0,137,149

Accuracy Score : 0.35977607312798626
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          1       0.62      0.90      0.51      0.73      0.68      0.48      1526
          2       0.27      0.04      0.99      0.06      0.19      0.03       329
          3       0.28      0.10      0.96      0.15      0.31      0.09       445
          4       0.28      0.05      0.99      0.09      0.23      0.05       270
          5       0.45      0.58      0.90      0.51      0.72      0.50       409
          6       0.55      0.49      0.96      0.52      0.68      0.44       306

avg / total       0.48      0.56      0.75      0.49      0.55      0.35      3285

In [173]:
#Calulate Feature Importances
importances = model.feature_importances_
importances

array([6.93099880e-02, 6.74882295e-02, 6.80239096e-02, 6.66847677e-02,
       6.58336306e-02, 6.57325653e-02, 7.61490506e-02, 7.07220619e-02,
       7.42158386e-02, 5.07512749e-02, 1.12462892e-01, 5.96139741e-03,
       6.34410597e-03, 1.97862705e-03, 4.11837700e-03, 1.36869606e-03,
       6.90375501e-03, 7.05536496e-03, 5.75703124e-03, 5.08144106e-03,
       3.30660682e-03, 4.04084474e-03, 4.77233513e-03, 5.29513497e-03,
       7.89489901e-03, 8.66738884e-03, 2.05545924e-02, 6.05719532e-03,
       1.11042897e-02, 4.30744913e-03, 2.44113644e-03, 3.61249237e-03,
       4.56767094e-03, 2.03283391e-03, 2.34289698e-03, 5.82216875e-03,
       5.17172302e-05, 5.66483648e-03, 4.85259687e-04, 4.54811453e-04,
       1.12714365e-03, 2.83608518e-03, 4.31403402e-04, 1.86800246e-05,
       2.37395981e-04, 3.38003391e-04, 8.56795859e-04, 1.81593337e-03,
       1.29442551e-03, 4.57225680e-03, 3.57952044e-03, 1.91644186e-03,
       1.43506345e-03, 1.92785115e-03, 1.54733464e-04, 3.33119686e-03,
       3.59091808e-03, 5.19594200e-03, 4.45885543e-04, 5.75262275e-03,
       2.37719226e-03, 6.04197593e-04, 5.20762603e-05, 1.60924428e-03,
       2.14234463e-03, 1.94777971e-03, 4.28685485e-03, 2.37361241e-03,
       7.36083188e-04, 2.83033392e-03, 6.75143002e-04, 1.97551727e-03,
       2.11175707e-03])

In [174]:
# We can sort the features by their importance.
sorted(zip(model.feature_importances_, X.columns), reverse=True)

[(0.11246289202567732, 'putout_time'),
 (0.07614905057176012, 'Hum_pre_30'),
 (0.07421583864293058, 'Hum_pre_7'),
 (0.07072206194485202, 'Hum_pre_15'),
 (0.0693099879583354, 'Temp_pre_30'),
 (0.06802390963276535, 'Temp_pre_7'),
 (0.06748822952204774, 'Temp_pre_15'),
 (0.0666847676755502, 'Wind_pre_30'),
 (0.06583363057819695, 'Wind_pre_15'),
 (0.06573256531160847, 'Wind_pre_7'),
 (0.05075127485228846, 'year'),
 (0.020554592431876816, 'fire_cause_Lightning'),
 (0.01110428968574022, 'state_AK'),
 (0.008667388838627227, 'fire_cause_Debris Burning'),
 (0.007894899012522, 'fire_cause_Arson'),
 (0.007055364955244524, 'discovery_month_Jun'),
 (0.0069037550081877865, 'discovery_month_Jul'),
 (0.0063441059694664915, 'discovery_month_Aug'),
 (0.006057195317403667, 'fire_cause_Utilities'),
 (0.005961397411024006, 'discovery_month_Apr'),
 (0.005822168748237805, 'state_GA'),
 (0.005757031243945153, 'discovery_month_Mar'),
 (0.005752622752691163, 'state_OK'),
 (0.005664836479372093, 'state_ID'),
 (0.005295134966754021, 'fire_cause_Accidental'),
 (0.005195942000028751, 'state_NY'),
 (0.005081441056740682, 'discovery_month_May'),
 (0.0047723351294165816, 'discovery_month_Sep'),
 (0.00457225680016783, 'state_MS'),
 (0.004567670941454949, 'state_CA'),
 (0.004307449127538955, 'state_AL'),
 (0.0042868548464842235, 'state_TX'),
 (0.004118376999073341, 'discovery_month_Feb'),
 (0.0040408447449166735, 'discovery_month_Oct'),
 (0.0036124923684969193, 'state_AZ'),
 (0.003590918084341668, 'state_NV'),
 (0.0035795204356210623, 'state_MT'),
 (0.003331196862987217, 'state_NM'),
 (0.003306606824473198, 'discovery_month_Nov'),
 (0.002836085184505518, 'state_KY'),
 (0.002830333917307763, 'state_WA'),
 (0.002441136442032937, 'state_AR'),
 (0.0023771922591620774, 'state_OR'),
 (0.0023736124093182943, 'state_UT'),
 (0.002342896981363544, 'state_FL'),
 (0.0021423446314498247, 'state_SD'),
 (0.0021117570685217383, 'state_WY'),
 (0.00203283391368615, 'state_CO'),
 (0.0019786270453863433, 'discovery_month_Dec'),
 (0.0019755172688293507, 'state_WV'),
 (0.001947779713639699, 'state_TN'),
 (0.0019278511539938116, 'state_NE'),
 (0.001916441856947571, 'state_NC'),
 (0.001815933372510355, 'state_MN'),
 (0.00160924427608655, 'state_SC'),
 (0.0014350634492808663, 'state_ND'),
 (0.0013686960605794737, 'discovery_month_Jan'),
 (0.0012944255124635283, 'state_MO'),
 (0.001127143646136704, 'state_KS'),
 (0.0008567958591725837, 'state_MI'),
 (0.0007360831879538969, 'state_VA'),
 (0.0006751430019750192, 'state_WI'),
 (0.0006041975932625993, 'state_PA'),
 (0.00048525968724043013, 'state_IL'),
 (0.0004548114527974033, 'state_IN'),
 (0.00044588554275243054, 'state_OH'),
 (0.0004314034017018825, 'state_LA'),
 (0.0003380033912389548, 'state_ME'),
 (0.00023739598101011494, 'state_MD'),
 (0.00015473346380625918, 'state_NJ'),
 (5.207626026995636e-05, 'state_PR'),
 (5.1717230179796284e-05, 'state_IA'),
 (1.8680024588783155e-05, 'state_MA')]

----------------------------

--------------------------

### Balanced Random Forest Classifier

In [175]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder
from pathlib import Path

from imblearn.ensemble import BalancedRandomForestClassifier


# Import our input dataset
data = Path('Resources_k/fire_size_bins_new.csv')
df = pd.read_csv(data)
df.head()

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5

In [176]:
df.drop(columns=["fire_id", "fire_size", "latitude", "longitude", "fire_size_bin"],inplace=True)
df

,fire_cause,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin_no
0,Debris Burning,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,1
1,Arson,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,3
2,Debris Burning,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,1
3,Debris Burning,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,3
4,Lightning,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,Utilities,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,5
13134,Utilities,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,5
13135,Accidental,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,6
13136,Debris Burning,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,5
13137,Debris Burning,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,5

In [177]:
# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=["state", "discovery_month", "fire_cause"]

# Check the number of unique values in each column
df[cat].nunique()

state              45
discovery_month    12
fire_cause          5
dtype: int64

In [178]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_FL,state_GA,state_IA,state_ID,...,discovery_month_Mar,discovery_month_May,discovery_month_Nov,discovery_month_Oct,discovery_month_Sep,fire_cause_Accidental,fire_cause_Arson,fire_cause_Debris Burning,fire_cause_Lightning,fire_cause_Utilities
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [179]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

c:\Users\KATLIN\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,...,discovery_month_Mar,discovery_month_May,discovery_month_Nov,discovery_month_Oct,discovery_month_Sep,fire_cause_Accidental,fire_cause_Arson,fire_cause_Debris Burning,fire_cause_Lightning,fire_cause_Utilities
0,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [180]:
# Remove loan status target from features data
target=df.fire_size_bin_no
y=target
#X = df.loc[:, df.columns !=target]
X=df.copy()
X=df.drop(columns=['fire_size_bin_no'])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [181]:
X

,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,...,discovery_month_Mar,discovery_month_May,discovery_month_Nov,discovery_month_Oct,discovery_month_Sep,fire_cause_Accidental,fire_cause_Arson,fire_cause_Debris Burning,fire_cause_Lightning,fire_cause_Utilities
0,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13134,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
13135,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
13136,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13137,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [182]:
model = BalancedRandomForestClassifier(n_estimators=100, random_state=78) 

#Fitting the model
model = model.fit(X_train, y_train)

# Making predictions using the testing data.
y_pred = model.predict(X_test)

In [183]:
# Calculating the accuracy score.
acc_score = balanced_accuracy_score(y_test, y_pred)
acc_score

0.3811381925950325

In [184]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual Teacup", "Actual Toy", "Actual Mini", "Actual Medium", "Actual Large", "Actual XL"], columns=["Predicted Teacup", "Predicted Toy", "Predicted Mini", "Predicted Medium", "Predicted Large", "Predicted XL"]
)
cm_df

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,596,374,278,186,79,13
Actual Toy,86,93,60,55,26,9
Actual Mini,86,117,113,75,43,11
Actual Medium,37,58,46,65,53,11
Actual Large,3,9,4,53,197,143
Actual XL,1,5,1,8,96,195

In [141]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.74      0.39      0.88      0.51      0.59      0.33      1526
          2       0.14      0.28      0.81      0.19      0.48      0.22       329
          3       0.23      0.25      0.86      0.24      0.47      0.21       445
          4       0.15      0.24      0.87      0.18      0.46      0.20       270
          5       0.40      0.48      0.90      0.44      0.66      0.41       409
          6       0.51      0.64      0.94      0.57      0.77      0.58       306

avg / total       0.50      0.38      0.88      0.41      0.58      0.32      3285

In [142]:
# Displaying Easy Ensemble Classifier
print("Random Forest Clasifier")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

Random Forest Clasifier
Confusion Matrix

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,596,374,278,186,79,13
Actual Toy,86,93,60,55,26,9
Actual Mini,86,117,113,75,43,11
Actual Medium,37,58,46,65,53,11
Actual Large,3,9,4,53,197,143
Actual XL,1,5,1,8,96,195

Accuracy Score : 0.3811381925950325
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          1       0.74      0.39      0.88      0.51      0.59      0.33      1526
          2       0.14      0.28      0.81      0.19      0.48      0.22       329
          3       0.23      0.25      0.86      0.24      0.47      0.21       445
          4       0.15      0.24      0.87      0.18      0.46      0.20       270
          5       0.40      0.48      0.90      0.44      0.66      0.41       409
          6       0.51      0.64      0.94      0.57      0.77      0.58       306

avg / total       0.50      0.38      0.88      0.41      0.58      0.32      3285

-------------------------

----------------------------------

### Easy Ensemble Classifier

In [143]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder
from pathlib import Path

from imblearn.ensemble import EasyEnsembleClassifier

# Import our input dataset
data = Path('Resources_k/fire_size_bins_new.csv')
df = pd.read_csv(data)
df.head()

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5

In [144]:
df.drop(columns=["fire_id", "fire_size", "latitude", "longitude", "fire_size_bin"],inplace=True)
df

,fire_cause,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin_no
0,Debris Burning,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,1
1,Arson,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,3
2,Debris Burning,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,1
3,Debris Burning,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,3
4,Lightning,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,Utilities,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,5
13134,Utilities,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,5
13135,Accidental,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,6
13136,Debris Burning,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,5
13137,Debris Burning,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,5

In [145]:
# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=["discovery_month", "state", "fire_cause"]

# Check the number of unique values in each column
df[cat].nunique()

discovery_month    12
state              45
fire_cause          5
dtype: int64

In [146]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_VA,state_WA,state_WI,state_WV,state_WY,fire_cause_Accidental,fire_cause_Arson,fire_cause_Debris Burning,fire_cause_Lightning,fire_cause_Utilities
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [147]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

c:\Users\KATLIN\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,...,state_VA,state_WA,state_WI,state_WV,state_WY,fire_cause_Accidental,fire_cause_Arson,fire_cause_Debris Burning,fire_cause_Lightning,fire_cause_Utilities
0,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [148]:
# Remove loan status target from features data
target=df.fire_size_bin_no
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=['fire_size_bin_no']).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [153]:
# Train the EasyEnsembleClassifier

model = EasyEnsembleClassifier(n_estimators=100, random_state=78) 

#Fitting the model
model = model.fit(X_train, y_train)

# Making predictions using the testing data.
y_pred = model.predict(X_test)

In [156]:
# Calculated the balanced accuracy score
acc_score = balanced_accuracy_score(y_test, y_pred)
acc_score

0.3701782653788939

In [157]:

# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
cm, index=["Actual Teacup", "Actual Toy", "Actual Mini", "Actual Medium", "Actual Large", "Actual XL"], columns=["Predicted Teacup", "Predicted Toy", "Predicted Mini", "Predicted Medium", "Predicted Large", "Predicted XL"]
)
cm_df

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,740,287,269,133,45,18
Actual Toy,116,57,78,52,8,5
Actual Mini,147,83,120,80,34,13
Actual Medium,52,37,53,75,47,19
Actual Large,13,6,1,45,167,170
Actual XL,3,4,2,11,102,193

In [158]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.69      0.50      0.82      0.58      0.64      0.39      1492
          2       0.12      0.18      0.86      0.14      0.39      0.14       316
          3       0.23      0.25      0.86      0.24      0.46      0.20       477
          4       0.19      0.27      0.89      0.22      0.49      0.22       283
          5       0.41      0.42      0.92      0.41      0.62      0.36       402
          6       0.46      0.61      0.92      0.53      0.75      0.55       315

avg / total       0.47      0.41      0.86      0.43      0.58      0.34      3285

In [159]:
# Displaying Easy Ensemble Classifier
print("Balanced Random Forest Clasifier")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

Balanced Random Forest Clasifier
Confusion Matrix

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,740,287,269,133,45,18
Actual Toy,116,57,78,52,8,5
Actual Mini,147,83,120,80,34,13
Actual Medium,52,37,53,75,47,19
Actual Large,13,6,1,45,167,170
Actual XL,3,4,2,11,102,193

Accuracy Score : 0.3701782653788939
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          1       0.69      0.50      0.82      0.58      0.64      0.39      1492
          2       0.12      0.18      0.86      0.14      0.39      0.14       316
          3       0.23      0.25      0.86      0.24      0.46      0.20       477
          4       0.19      0.27      0.89      0.22      0.49      0.22       283
          5       0.41      0.42      0.92      0.41      0.62      0.36       402
          6       0.46      0.61      0.92      0.53      0.75      0.55       315

avg / total       0.47      0.41      0.86      0.43      0.58      0.34      3285

--------------------------------------

---------------------------

## Oversampling & Undersampling

In [185]:
# Import our input dataset
data = Path('Resources_k/fire_size_bins_new.csv')
df = pd.read_csv(data)
df.head()

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5

In [186]:
df.drop(columns=["fire_id", "fire_size", "latitude", "longitude", "fire_size_bin"],inplace=True)
df

,fire_cause,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin_no
0,Debris Burning,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,1
1,Arson,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,3
2,Debris Burning,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,1
3,Debris Burning,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,3
4,Lightning,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,Utilities,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,5
13134,Utilities,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,5
13135,Accidental,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,6
13136,Debris Burning,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,5
13137,Debris Burning,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,5

In [187]:
# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=["discovery_month", "state", "fire_cause"]

# Check the number of unique values in each column
df[cat].nunique()

discovery_month    12
state              45
fire_cause          5
dtype: int64

In [188]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_VA,state_WA,state_WI,state_WV,state_WY,fire_cause_Accidental,fire_cause_Arson,fire_cause_Debris Burning,fire_cause_Lightning,fire_cause_Utilities
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [189]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

c:\Users\KATLIN\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,...,state_VA,state_WA,state_WI,state_WV,state_WY,fire_cause_Accidental,fire_cause_Arson,fire_cause_Debris Burning,fire_cause_Lightning,fire_cause_Utilities
0,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [190]:
# Remove loan status target from features data
target=df.fire_size_bin_no
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=['fire_size_bin_no']).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Naive Random Oversampling

In [191]:
import warnings
warnings.filterwarnings('ignore')

from collections import Counter

# implement random oversampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({2: 4463, 1: 4463, 6: 4463, 3: 4463, 4: 4463, 5: 4463})

In [192]:
# Logistic regression using random oversampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [193]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
acc_score= balanced_accuracy_score(y_test, y_pred)

In [194]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual Teacup", "Actual Toy", "Actual Mini", "Actual Medium", "Actual Large", "Actual XL"], columns=["Predicted Teacup", "Predicted Toy", "Predicted Mini", "Predicted Medium", "Predicted Large", "Predicted XL"]
)
cm_df

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,203,503,448,146,187,5
Actual Toy,49,113,96,25,32,1
Actual Mini,56,169,132,48,68,4
Actual Medium,26,59,76,55,57,10
Actual Large,2,12,13,73,184,118
Actual XL,0,6,4,27,137,141

In [195]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.60      0.14      0.93      0.22      0.35      0.12      1492
          2       0.13      0.36      0.75      0.19      0.52      0.26       316
          3       0.17      0.28      0.77      0.21      0.46      0.20       477
          4       0.15      0.19      0.89      0.17      0.42      0.16       283
          5       0.28      0.46      0.83      0.34      0.62      0.37       402
          6       0.51      0.45      0.95      0.47      0.65      0.41       315

avg / total       0.41      0.25      0.88      0.25      0.45      0.20      3285

In [196]:
# Displaying Random Oversampling results
print("Naive Random Oversampling")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

Naive Random Oversampling
Confusion Matrix

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,203,503,448,146,187,5
Actual Toy,49,113,96,25,32,1
Actual Mini,56,169,132,48,68,4
Actual Medium,26,59,76,55,57,10
Actual Large,2,12,13,73,184,118
Actual XL,0,6,4,27,137,141

Accuracy Score : 0.31167670964138333
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          1       0.60      0.14      0.93      0.22      0.35      0.12      1492
          2       0.13      0.36      0.75      0.19      0.52      0.26       316
          3       0.17      0.28      0.77      0.21      0.46      0.20       477
          4       0.15      0.19      0.89      0.17      0.42      0.16       283
          5       0.28      0.46      0.83      0.34      0.62      0.37       402
          6       0.51      0.45      0.95      0.47      0.65      0.41       315

avg / total       0.41      0.25      0.88      0.25      0.45      0.20      3285

### SMOTE Oversampling

In [197]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(
    X_train, y_train
)
Counter(y_resampled)

Counter({2: 4463, 1: 4463, 6: 4463, 3: 4463, 4: 4463, 5: 4463})

In [198]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [199]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
acc_score=balanced_accuracy_score(y_test, y_pred)

In [200]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual Teacup", "Actual Toy", "Actual Mini", "Actual Medium", "Actual Large", "Actual XL"], columns=["Predicted Teacup", "Predicted Toy", "Predicted Mini", "Predicted Medium", "Predicted Large", "Predicted XL"]
)
cm_df

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,386,479,261,195,166,5
Actual Toy,91,105,55,37,27,1
Actual Mini,114,161,74,57,67,4
Actual Medium,55,55,48,63,52,10
Actual Large,6,11,7,79,187,112
Actual XL,1,6,3,26,142,137

In [201]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.59      0.26      0.85      0.36      0.47      0.21      1492
          2       0.13      0.33      0.76      0.19      0.50      0.24       316
          3       0.17      0.16      0.87      0.16      0.37      0.12       477
          4       0.14      0.22      0.87      0.17      0.44      0.18       283
          5       0.29      0.47      0.84      0.36      0.63      0.38       402
          6       0.51      0.43      0.96      0.47      0.64      0.39       315

avg / total       0.40      0.29      0.86      0.31      0.49      0.23      3285

In [202]:
# Displaying SMOTE results
print("SMOTE Oversampling")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

SMOTE Oversampling
Confusion Matrix

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,386,479,261,195,166,5
Actual Toy,91,105,55,37,27,1
Actual Mini,114,161,74,57,67,4
Actual Medium,55,55,48,63,52,10
Actual Large,6,11,7,79,187,112
Actual XL,1,6,3,26,142,137

Accuracy Score : 0.3114729152248274
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          1       0.59      0.26      0.85      0.36      0.47      0.21      1492
          2       0.13      0.33      0.76      0.19      0.50      0.24       316
          3       0.17      0.16      0.87      0.16      0.37      0.12       477
          4       0.14      0.22      0.87      0.17      0.44      0.18       283
          5       0.29      0.47      0.84      0.36      0.63      0.38       402
          6       0.51      0.43      0.96      0.47      0.64      0.39       315

avg / total       0.40      0.29      0.86      0.31      0.49      0.23      3285

## Undersampling

In [203]:
# Resample the data using the ClusterCentroids resampler
from imblearn.under_sampling import ClusterCentroids
cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({1: 732, 2: 732, 3: 732, 4: 732, 5: 732, 6: 732})

In [204]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [205]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
acc_score= balanced_accuracy_score(y_test, y_pred)

In [206]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual Teacup", "Actual Toy", "Actual Mini", "Actual Medium", "Actual Large", "Actual XL"], columns=["Predicted Teacup", "Predicted Toy", "Predicted Mini", "Predicted Medium", "Predicted Large", "Predicted XL"]
)
cm_df

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,228,844,166,135,114,5
Actual Toy,60,198,11,25,21,1
Actual Mini,53,281,42,43,54,4
Actual Medium,55,112,24,45,38,9
Actual Large,30,16,14,77,150,115
Actual XL,16,6,3,34,121,135

In [207]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.52      0.15      0.88      0.24      0.37      0.12      1492
          2       0.14      0.63      0.58      0.22      0.60      0.36       316
          3       0.16      0.09      0.92      0.11      0.28      0.07       477
          4       0.13      0.16      0.90      0.14      0.38      0.13       283
          5       0.30      0.37      0.88      0.33      0.57      0.31       402
          6       0.50      0.43      0.95      0.46      0.64      0.39       315

avg / total       0.37      0.24      0.87      0.24      0.43      0.19      3285

In [208]:
# Displaying Undersampling results
print("Cluster Centroid Undersampling")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

Cluster Centroid Undersampling
Confusion Matrix

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,228,844,166,135,114,5
Actual Toy,60,198,11,25,21,1
Actual Mini,53,281,42,43,54,4
Actual Medium,55,112,24,45,38,9
Actual Large,30,16,14,77,150,115
Actual XL,16,6,3,34,121,135

Accuracy Score : 0.30469399399793307
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          1       0.52      0.15      0.88      0.24      0.37      0.12      1492
          2       0.14      0.63      0.58      0.22      0.60      0.36       316
          3       0.16      0.09      0.92      0.11      0.28      0.07       477
          4       0.13      0.16      0.90      0.14      0.38      0.13       283
          5       0.30      0.37      0.88      0.33      0.57      0.31       402
          6       0.50      0.43      0.95      0.46      0.64      0.39       315

avg / total       0.37      0.24      0.87      0.24      0.43      0.19      3285

## Combination (Over and Under) Sampling

In [209]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=1)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

Counter({1: 701, 2: 4754, 3: 3795, 4: 4996, 5: 4659, 6: 5161})

In [210]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [211]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
acc_score = balanced_accuracy_score(y_test, y_pred)

In [212]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
cm_df = pd.DataFrame(
    cm, index=["Actual Teacup", "Actual Toy", "Actual Mini", "Actual Medium", "Actual Large", "Actual XL"], columns=["Predicted Teacup", "Predicted Toy", "Predicted Mini", "Predicted Medium", "Predicted Large", "Predicted XL"]
)
cm_df

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,228,844,166,135,114,5
Actual Toy,60,198,11,25,21,1
Actual Mini,53,281,42,43,54,4
Actual Medium,55,112,24,45,38,9
Actual Large,30,16,14,77,150,115
Actual XL,16,6,3,34,121,135

In [213]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.00      0.00      1.00      0.00      0.00      0.00      1492
          2       0.14      0.72      0.53      0.23      0.62      0.39       316
          3       0.00      0.00      1.00      0.00      0.00      0.00       477
          4       0.12      0.37      0.75      0.18      0.53      0.27       283
          5       0.33      0.39      0.89      0.36      0.59      0.33       402
          6       0.48      0.50      0.94      0.49      0.69      0.45       315

avg / total       0.11      0.20      0.91      0.13      0.24      0.14      3285

In [214]:
# Displaying SMOTEEN results
print("SMOTEENN Sampling")
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, y_pred))

SMOTEENN Sampling
Confusion Matrix

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,228,844,166,135,114,5
Actual Toy,60,198,11,25,21,1
Actual Mini,53,281,42,43,54,4
Actual Medium,55,112,24,45,38,9
Actual Large,30,16,14,77,150,115
Actual XL,16,6,3,34,121,135

Accuracy Score : 0.3308412165892611
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          1       0.00      0.00      1.00      0.00      0.00      0.00      1492
          2       0.14      0.72      0.53      0.23      0.62      0.39       316
          3       0.00      0.00      1.00      0.00      0.00      0.00       477
          4       0.12      0.37      0.75      0.18      0.53      0.27       283
          5       0.33      0.39      0.89      0.36      0.59      0.33       402
          6       0.48      0.50      0.94      0.49      0.69      0.45       315

avg / total       0.11      0.20      0.91      0.13      0.24      0.14      3285

In [215]:
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [216]:
# Import our input dataset
data = Path('Resources_k/fire_size_bins_new.csv')
df = pd.read_csv(data)
df.head()

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5

In [217]:
df.drop(columns=["fire_id", "fire_size", "latitude", "longitude", "fire_size_bin"],inplace=True)
df

,fire_cause,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin_no
0,Debris Burning,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,1
1,Arson,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,3
2,Debris Burning,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,1
3,Debris Burning,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,3
4,Lightning,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,Utilities,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,5
13134,Utilities,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,5
13135,Accidental,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,6
13136,Debris Burning,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,5
13137,Debris Burning,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,5

In [218]:
# Generate our categorical variable list
#cat = df.dtypes[df.dtypes == "object"].index.tolist()
cat=["discovery_month", "state", "fire_cause"]

# Check the number of unique values in each column
df[cat].nunique()

discovery_month    12
state              45
fire_cause          5
dtype: int64

In [219]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,discovery_month_Apr,discovery_month_Aug,discovery_month_Dec,discovery_month_Feb,discovery_month_Jan,discovery_month_Jul,discovery_month_Jun,discovery_month_Mar,discovery_month_May,discovery_month_Nov,...,state_VA,state_WA,state_WI,state_WV,state_WY,fire_cause_Accidental,fire_cause_Arson,fire_cause_Debris Burning,fire_cause_Lightning,fire_cause_Utilities
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [220]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,...,state_VA,state_WA,state_WI,state_WV,state_WY,fire_cause_Accidental,fire_cause_Arson,fire_cause_Debris Burning,fire_cause_Lightning,fire_cause_Utilities
0,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [221]:
# Remove loan status target from features data
target=df.fire_size_bin_no
y=target
# X = df.loc[:, df.columns !=target]
X=df.drop(columns=['fire_size_bin_no']).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

  ### Choose best learning rate

In [228]:
from sklearn.ensemble import GradientBoostingClassifier

# Create a classifier object
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=10,
                                            learning_rate=learning_rate,
                                            max_features='auto',
                                            max_depth=3,
                                            random_state=1)

    # Fit the model
    classifier.fit(X_train_scaled, y_train)
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        classifier.score(
            X_train_scaled,
            y_train)))
    print("Accuracy score (validation): {0:.3f}".format(
        classifier.score(
            X_test_scaled,
            y_test)))
    print()

Learning rate:  0.05
Accuracy score (training): 0.478
Accuracy score (validation): 0.476

Learning rate:  0.1
Accuracy score (training): 0.556
Accuracy score (validation): 0.543

Learning rate:  0.25
Accuracy score (training): 0.580
Accuracy score (validation): 0.548

Learning rate:  0.5
Accuracy score (training): 0.595
Accuracy score (validation): 0.540

Learning rate:  0.75
Accuracy score (training): 0.601
Accuracy score (validation): 0.547

Learning rate:  1
Accuracy score (training): 0.586
Accuracy score (validation): 0.528

  ### Create Gradient Boosting Classifier

In [229]:
# Choose a learning rate and create classifier
classifier = GradientBoostingClassifier(n_estimators=100,
                                        learning_rate=0.05,
                                        max_features='auto',
                                        max_depth=3,
                                        random_state=1)

# Fit the model
classifier.fit(X_train_scaled, y_train)

# Make Prediction
predictions = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).head(20)

       Prediction  Actual
4841            5       1
3257            1       1
3796            1       3
5376            1       1
142             1       2
3013            1       1
12112           1       5
6822            1       1
9282            1       1
7166            1       1
1804            1       1
7068            1       2
10206           1       4
4405            1       4
8940            6       6
5151            1       1
12777           5       5
994             5       5
943             5       3
1131            1       4

  ### Evaluate the model

In [232]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import classification_report
# Calculating the accuracy score
acc_score = balanced_accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.34218443073049115

In [233]:
# Generate the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
   index=["Actual Teacup", "Actual Toy", "Actual Mini", "Actual Medium", "Actual Large", "Actual XL"], columns=["Predicted Teacup", "Predicted Toy", "Predicted Mini", "Predicted Medium", "Predicted Large", "Predicted XL"]
)
cm_df

,Predicted Teacup,Predicted Toy,Predicted Mini,Predicted Medium,Predicted Large,Predicted XL
Actual Teacup,NaN,NaN,NaN,NaN,NaN,NaN
Actual Toy,NaN,NaN,NaN,NaN,NaN,NaN
Actual Mini,NaN,NaN,NaN,NaN,NaN,NaN
Actual Medium,NaN,NaN,NaN,NaN,NaN,NaN
Actual Large,NaN,NaN,NaN,NaN,NaN,NaN
Actual XL,NaN,NaN,NaN,NaN,NaN,NaN

In [234]:
# Generate classification report
print("Classification Report")
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           1       0.59      0.95      0.73      1492
           2       0.17      0.00      0.01       316
           3       0.25      0.03      0.05       477
           4       0.50      0.01      0.02       283
           5       0.43      0.54      0.48       402
           6       0.50      0.52      0.51       315

    accuracy                           0.55      3285
   macro avg       0.41      0.34      0.30      3285
weighted avg       0.47      0.55      0.45      3285